{% extends 'store/base.html' %} {% load static %} {% block content %}
<main class="container my-4">
  <div class="row">
    <!-- Filters -->
    <div class="col-md-3">
      <h3 class="mb-4 border-bottom pb-1">Filters</h3>
      <!-- Filter 1 -->
      <div class="card mb-4">
        <h6 class="card-header">Colors</h6>
        <div class="list-group list-group-flush">
          <li class="list-group-item">
            <input type="checkbox" />&nbsp;
            <button class="btn btn-danger"></button>
          </li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp;
            <button class="btn btn-dark"></button>
          </li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp;
            <button class="btn btn-success"></button>
          </li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp;
            <button class="btn btn-warning"></button>
          </li>
        </div>
      </div>
      <!-- Filter 2 -->
      <div class="card mb-4">
        <h6 class="card-header">Categories</h6>
        <div class="list-group list-group-flush">
          <li class="list-group-item"><input type="checkbox" />&nbsp; Book</li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp; Mobile Phone
          </li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp; Television
          </li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp; Laptop
          </li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp; Clothes
          </li>
        </div>
      </div>
      <!-- Filter 3 -->
      <div class="card mb-4">
        <h6 class="card-header">Brands</h6>
        <div class="list-group list-group-flush">
          {% for brand in brandList %}
          <li class="list-group-item">
            <input type="checkbox" />{{brand.name}}
          </li>
          {%endfor%}
        </div>
      </div>
      <!-- Filter 3 -->
      <div class="card mb-4">
        <h6 class="card-header">Sizes</h6>
        <div class="list-group list-group-flush">
          <li class="list-group-item">
            <input type="checkbox" />&nbsp; < 1 litre
          </li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp; 1-2 litre
          </li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp; 2-3 litre
          </li>
          <li class="list-group-item">
            <input type="checkbox" />&nbsp; 3-4 litre
          </li>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <!-- Products -->
      <h3 class="mb-4 border-bottom pb-1">Products</h3>
      <div class="row">
        {%if itemList%} {% for item in itemList %}
        <div class="col-md-4 mb-4" style="text-align: center">
          <div class="card shadow">
            <a href="{% url 'product-detail' item.id %}"
              ><img
                src="/media/{{item.imageItem}}"
                class="card-img-top"
                alt="{{item.name}}"
                style="width: auto; height: 200px; max-width: 100%"
            /></a>
            <div class="card-body">
              <h6 class="card-text">
                <a href="{% url 'product-detail' item.id %}">{{item.name}} </a>
              </h6>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary">
                <i class="fa fa-shopping-cart"></i>
              </button>
              <button class="btn btn-sm btn-danger">
                <i class="fa fa-heart"></i>
              </button>
              <span class="float-right">
                4.5/5
                <i class="fa fa-star text-warning"></i>
              </span>
            </div>
          </div>
        </div>
        {%endfor%} {%endif%}
      </div>
      <p class="my-4 text-center">
        <a href="/products.php" class="btn btn-dark btn-sm"
          >Load More <i class="fa fa-sync"></i
        ></a>
      </p>
    </div>
  </div>
</main>
{% endblock %}
