{% extends 'store/base.html' %} {% load static %} {% block content %}
<main class="container my-4">
  <!-- Featured Products -->
  <h3 class="my-4 border-bottom pb-1">{{data.name}}</h3>
  <div class="row">
    <!-- Images -->
    <div class="col-md-4">
      <img
        id="zoom_01"
        data-zoom-image="/media/{{data.imageItem}}"
        src="/media/{{data.imageItem}}"
        class="card-img-top"
        alt="{{data.name}}"
      />
    </div>
    <div class="col-md-8">
      <p>{{data.description}}</p>
      <hr />
      <table class="table table-bordered">
        <tr>
          <th>Price</th>
          <th>{{data.outPrice}}$</th>
        </tr>
        <tr>
          <th>Colors</th>
          <td>
            <button class="btn btn-danger btn-lg"></button>
            <button class="btn btn-info btn-lg"></button>
            <button class="btn btn-success btn-lg"></button>
            <button class="btn btn-primary btn-lg"></button>
            <button class="btn btn-dark btn-lg"></button>
          </td>
        </tr>
      </table>
      <hr />
      <div class="input-group my-3" style="width: 30%">
        <input
          type="number"
          class="form-control"
          value="0"
          id="product_quantity"
        />
        <div class="input-group-append">
          <button
            data-product_id="{{data.id}}"
            data-action="add"
            class="btn btn-primary btn-sm add-cart"
          >
            <i class="fa fa-shopping-cart"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h3 class="my-3">Detail</h3>
      <!-- Detail -->
      <table class="table table-bordered">
        {% if data.state_Id.name == "BOOK"%}
        <tr>
          <th>Publisher</th>
          <td><a href="#">{{data_item.publisher}}</a></td>
        </tr>
        {% elif data.state_Id.name == "ELECTRONIC" %}
        <tr>
          <th>Brand</th>
          <td><a href="#">{{data_item.brand}}</a></td>
        </tr>
        {%endif%}
        <tr>
          <th>Category</th>
          <td><a href="#">{{data.state_Id.name}}</a></td>
        </tr>
        <tr>
          <th>Specification</th>
          <td>This is lorem ipsum content</td>
        </tr>
      </table>
    </div>
    <!-- Reviews -->
    <div class="col-md-6">
      <h3 class="my-3">
        Reviews - 4.5/5 <i class="fa fa-star text-warning"></i>
      </h3>
      <div class="card">
        <div class="card-body" style="max-height: 400px; overflow: auto">
          <!-- Detail -->
          <blockquote class="blockquote text-right">
            <small
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.</small
            >
            <footer class="blockquote-footer">
              User
              <cite title="Source Title">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
              </cite>
            </footer>
          </blockquote>
          <hr />
        </div>
      </div>
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.2.3/src/jquery.ez-plus.js"></script>

<script></script>
{% endblock %}
